ul.video-thumbnails {
  list-style: none;
  margin-top: 1em;
  margin-left: 0;
  li {
    margin-bottom: 2em;
    img {
      padding: 3px;
      border: solid 1px $base-border-color;
    }
    .description {
//      color: $light-font-color;
      font-size: 12px;
      line-height: $base-line-height * 0.7; 
    }
  }
}