- @section = "documentation"
- @subsection = "videos"

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main
  %h1 Videos

  %p
    The entire Pro Git book, written by Scott Chacon and published by Apress, is available here. All content is licensed under the <a href="#">Creative Commons Attribution Non Commercial Share Alike 3.0 license</a>. Print versions of the book are <a href="#">available on Amazon.com</a>.

