%p navigation

%div#main
  %h1 git-rebase(1)

  <h2>NAME</h2>

  <div class="sectionbody">
  <p>git-rebase - Forward-port local commits to the updated upstream head</p>
  </div>

  <h2 id="_synopsis">SYNOPSIS</h2>

  <div class="sectionbody">
  <div class="verseblock">
  <div class="verseblock-content"><em>git rebase</em> [-i | --interactive] [options] [--onto &lt;newbase&gt;]
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[&lt;upstream&gt;] [&lt;branch&gt;]
  <em>git rebase</em> [-i | --interactive] [options] --onto &lt;newbase&gt;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--root [&lt;branch&gt;]
  <em>git rebase</em> --continue | --skip | --abort</div>
  <div class="verseblock-attribution">
  </div></div>
  </div>

