%h2 Branching &amp; Merging

%p 
  Git is all about composing and saving snapshots of your project and then
  working with and comparing those snapshots.  This section will explain
  the commands needed to compose and commit snapshots of your project.

%p
  An important concept here is that Git has an 'index', which acts as sort
  of a staging area for your snapshot.  This allows you to build up a series
  of well composed snapshots from changed files in your working directory, 
  rather than having to commit all of the file changes at once.

%p.nutshell
  <strong>In a nutshell</strong>, you will use <code>git add</code> to start tracking new
  files and also to stage changes to already tracked files, then 
  <code>git status</code> and <code>git diff</code> to see what has been
  modified and staged and finally <code>git commit</code> to record your
  snapshot into your history.  This will be the basic workflow that you use
  most of the time.

%h2 git checkout

%p
  The <code>git branch</code> command is a general branch management tool
  for Git and can do several different things.  We'll cover the basic ones
  that you'll use most - listing branches, creating branches and deleting
  branches.  We will also cover basic <code>git checkout</code> here which
  switches you between your branches.

%h4 git branch

<p>Without arguments, <code>git branch</code> will list out the local
branches that you have.  The branch that you are currently working on will
have a star next to it and if you have
<a href="http://progit.org/book/ch7-1.html#colors_in_git">coloring turned on</a>,
will show the current branch in green.
</p>

<pre>
$ git branch
* <span class="green">master</span>
</pre>

<p>This means that we have a 'master' branch and we are currently on it.
When you run <code>git init</code> it will automatically create a 'master'
branch for you by default, however there is nothing special about the name -
you don't actually have to have a 'master' branch but since it's the default
that is created, most projects do.
</p>